<!doctype html>
    <!--[if IE 7 ]> <html class="ie7" lang='en'> <![endif]-->
    <!--[if IE 8 ]> <html class="ie8" lang='en'> <![endif]-->
    <!--[if IE 9 ]> <html class="ie9" lang='en'> <![endif]-->
    <!--[if (gt IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--> <html dir='ltr' lang='en'> <!--<![endif]-->
    <head>
        <title>Home Page</title>
        <!-- Crucial meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

        <!-- Base css -->
        <link rel="stylesheet" href="css/base.css">
        <!-- Page level css -->
        <link rel="stylesheet" href="css/homePage.css">

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <main class="home">
            {{> header}}
            <aside> Aside test </aside>
            <p>Hello {{firstName}}</p>
            <p>HELLO! Usage of HbsHelpers 'capitals' - {{capitals firstName}}</p>
        </main>

        <!-- Bootstrap JS -->
        <script src="js/vendors/bootstrap.min.js"></script>
        <!-- App JS -->
        <script data-main="js/main" src="js/vendors/require.min.js"></script>

    </body>
</html>
