<!doctype html>
    <!--[if IE 8 ]> <html class="ie8" lang='en'> <![endif]-->
    <!--[if IE 9 ]> <html class="ie9" lang='en'> <![endif]-->
    <!--[if (gt IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--> <html dir='ltr' lang='en'> <!--<![endif]-->
    <head>
        <title>Home Page</title>
        <!-- Crucial meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Base css -->
        <link rel="stylesheet" href="css/core.css">
        <!-- Page level css -->
        <link rel="stylesheet" href="css/homePage.css">

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <main class="home">

            {{> header}}

            <aside> Aside test </aside>
            <p>Hello {{firstName}}</p>
            <p>HELLO! Usage of HbsHelpers 'capitals' - {{capitals firstName}}</p>

            {{> progress val='25'}}

        </main>

        <!-- Bootstrap & its deps -->
        <script src="js/vendors/jquery-3.1.1.min.js"></script>
        <script src="js/vendors/bootstrap-3.3.7.min.js"></script>
        <!-- App JS -->
        <script data-main="js/firstPage" src="js/vendors/require-2.3.2.min.js"></script>

    </body>
</html>
