<div class="podRow" data-roomno={{roomNo}}>
	<p for="">Room {{roomNo}} <button type="button" class="del"></button></p>
	<div>
		<input type="number" min="0" placeholder="0 Adult" data-type="adult" />
		<input type="number" min="0" placeholder="0 Children" data-type="child" />

		<div class="ageWrap"></div>
	</div>
</div>