.progressWrapper {
  display: block;
  min-height: 30px;
  max-width: 40%;
  margin: 0 auto;
  z-index: 10;
  
  /* Including app's partials (if any) */
  /* ========== */
  /* Advantage : 
  *  Locking the scope all within .progressWrapper, hence styles can be locked from polluting the other styles.
  */
  @import 'progress/init'; 
}